.Name_block {
  overflow:hidden;
  text-align: center;
  padding: 10px;
}

.Name_field {
  padding: 5px;
  border-radius: 3px;
  border: solid #E9E8E8 1px;
}

.del_block {
  height: 30px;
}

.submit {
  float: right;
}


.glyphicon-edit {
  color: lightgrey;
  float: left;
}

.glyphicon-arrow-down {
  float: left;
  margin: 4px;
  font-size: 12px;
}

.Nme_field {
  margin: 6px;
  width: 170px;
  text-align: center;
}

.left-arrow, .right-arrow {
  color: lightgrey;
}

.right-arrow:hover, .left-arrow:hover, .glyphicon-edit:hover {
  color: grey;
}

/*Registration fields*/
.LogInField, .RegistrationField {
  position: absolute;
  top: -320px;
  left: 50%;
  margin-left: -125px;
  width: 250px;
  padding: 30px;
  transition-duration: .5s;
}

.twoForms {
  height: 330px;
  transition-duration: .5s;
  margin-top: -320px;
}

#LogInClose {
  float: none;
  margin-left: 177px;
}

.auth_Name  {
  margin-left: 13px;
}

.LogOut {
  margin-left: 10px;
  cursor: pointer;
}

.auth_Name {
  margin-top: 8px;
  display: none;
}

.RegSucess {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition-duration: .5s;
}

#LogBtn {
  position: relative;
  left: -110px;
  z-index: -1;
  opacity: 0;
  transition-duration: .2s;
  margin-top: 10px;
}

#SubBtn {
  transition-duration: .2s;
  margin-top: 10px;
}

.close, .right-arrow, .left-arrow, .glyphicon-edit {
  cursor: pointer;
}

.slidecontainer {
  margin: 10px 0;
}

.Inp {
  width: 88%;
  float: left;
}

.InputsBox {
  margin: 7px 0;
  height: 36px;
}


.InputNumber {
  margin-left: 10px;
  font-weight: bold;
}

.btn-warning, .btn-info {
  margin: 10px 0;
  width: 70%;
}

.btn-warning2 {
  width: 25%;
  margin-left: 5%;
}

.glyphicon-minus-sign {
  color: lightgrey;
  margin-top: 9px;
  margin-left: 8px;
}

.btn-light {
  margin: 0px 10px 15px 0 !important;
  border: solid lightgrey 1px !important;
  background: white !important;
}

.Name_field {
  background: #F5F2DC;
  border: none;
}

.Name_block {
  margin-top: 10px;
}

.Auth_sample {
  margin-bottom: -30px;
}


